media/*
basel_model/model2019_bfm.h5
basel_model/model2019_face12.h5
basel_model/model2019_fullHead_lvl.ply
basel_model/model2019_fullHead_lvl2.ply
basel_model/model2019_fullHead.h5
basel_model/model2019_mouthOnly.ply
basel_model/model2019_textureMapping.json
3d_fitting/BFM/01_MorphableModel.mat
3d_fitting/BFM/BFM_exp_idx.mat
3d_fitting/BFM/BFM_front_idx.mat
3d_fitting/BFM/BFM09_model_info.mat
3d_fitting/BFM/Exp_Pca.bin
3d_fitting/BFM/facemodel_info.mat
3d_fitting/BFM/select_vertex_id.mat
3d_fitting/BFM/similarity_Lm3D_all.mat
3d_fitting/BFM/std_exp.txt
Unet_train/options/base_options.py
checkpoints/*
*.pyc
videorendered_finalcompose.mp4
*.pth
3d_fitting/inpainter/0082_lms_proj.pkl
inpainter_model.zip
